@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container{
    width: 83vw;
    margin: 0 auto;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #1E1C21;
    z-index: 10;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #1E1C21;
    z-index: 10;
}

.container_header{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    width: 25vw;
    height: 40px;
}

.links{
    width: 48vw;
    display: flex;
    justify-content: space-between;
}

.links a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

main{
    margin-top: 80px;
}

.banner{
    background: #c11e18;
    background: -moz-linear-gradient(left,  #c11e18 0%, #c11e18 39%, #000000 69%, #000000 100%);
    background: -webkit-linear-gradient(left,  #c11e18 0%,#c11e18 39%,#000000 69%,#000000 100%);
    background: linear-gradient(to right,  #c11e18 0%,#c11e18 39%,#000000 69%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c11e18', endColorstr='#000000',GradientType=1 );
    width: 100%;
    height: 655px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pilotos{
    height: 566px;
}

.info_banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 80px;
}

.info_banner span{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 28px;
}

.link_cadastro_tela_jogador{
    background-color: #c11e18;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3.4vh;
    border-radius: 20px;
    text-transform: uppercase;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11vh;
    width: 22vw;
    margin-top: 60px;
}

.link_cadastro_tela_time{
    background-color: #001f70;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3.4vh;
    border-radius: 20px;
    text-transform: uppercase;
    border:none;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 11vh;
    width: 22vw;
    margin-top: 60px;
}

.logos_jogos{
    background-color: black;
    height: 140px;
}

.container_logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.como_participar{
    height: 600px;
    background-image: url(assets_/bg-lol1.png);
}

.retangulo_fundo{
    height: 600px;
    background-color:black;
    clip-path: polygon(100% 0, 100% 92%, 0 100%, 0 8%);
}

.container_como_participar{
    height: 100%;
    display: flex;
}

.texto{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.texto h2{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.texto p{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 25px;
    margin-top: 2px;
    width: 35vw;
    text-align: justify;
    margin-bottom: 20px;
}

.container_como_participar img{
    position: relative;
    left: 100px;
    z-index: 9;
}

.partidas{
    height:140px;
    width:100%;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo_ao_vivo{
    display: flex;
    justify-content: space-between;
    height: 140px;
    align-items: center;
}

.conteudo_ao_vivo span{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    width: 4vw;
}

.hora_jogo{
    display: flex;
    justify-content: space-between;
    width: 13vw;
    align-items: center;
}

.conteudo_ao_vivo p{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight:normal;
    font-size: 25px;
}


div.vertical-line{
    width: 2px;
    background-color: white; 
    height: 100px; 
    float: left;
}

.versus{
    font-weight: bold;
}

.notícias{
    height: 1200px;
    background-color: #1e1c21;
}

.título_notícias{
    display: flex;
    justify-content: space-between;
    width: 78.5vw;
}

.título_notícias p{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.conteudo_notícias_cima{
    display: flex;
    justify-content: space-between;
}

.conjunto_box_jogadora{
    display: flex;
    justify-content: space-between;
    width: 60.5vw;
    flex-wrap: wrap;
    height: 1050px;

}

.box_jogadora{
    width: 16vw;
    height: 450px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    box-shadow: 1px 1px 20px 4px #000000;
}

.box_jogadora img{
    width: 16vw;
}

.título_da_notícia{
    background: rgb(47,47,47);
    background: -moz-linear-gradient(top, rgba(47,47,47,1) 0%, rgba(47,47,47,1) 37%, rgba(0,0,0,1) 78%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(47,47,47,1) 0%,rgba(47,47,47,1) 37%,rgba(0,0,0,1) 78%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(47,47,47,1) 0%,rgba(47,47,47,1) 37%,rgba(0,0,0,1) 78%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2f2f', endColorstr='#000000',GradientType=0 );
    height: 200px;
    padding: 20px;
}

.uppercase{
    text-transform: uppercase;
    margin-bottom: 10px;
}

.título_da_notícia p{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    font-size: 20px;
}

.box_próximos_jogos{
    width: 16vw;
    height: 930px;
    padding: 25px 0;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(45,45,45,1) 25%, rgba(45,45,45,1) 75%, rgba(45,45,45,1) 75%, rgba(47,47,47,1) 75%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(45,45,45,1) 25%,rgba(45,45,45,1) 75%,rgba(45,45,45,1) 75%,rgba(47,47,47,1) 75%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(45,45,45,1) 25%,rgba(45,45,45,1) 75%,rgba(45,45,45,1) 75%,rgba(47,47,47,1) 75%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
    box-shadow: 1px 1px 20px 4px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.conteudo_próximos_jogos{
    width: 14vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight:normal;
    font-size: 25px;
}

.próximos_jogos{
    width: 14vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight:normal;
    font-size: 25px;
}

footer{
    background-color: black;
}

.footer{
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: space-between;
}

.links_úteis{
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:110px;
    margin-bottom: 150px;
}

.links_úteis span{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    font-size: 20px;
    margin-bottom: 60px;
}

.links_úteis ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

footer a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight:normal;
    font-size: 15px;
}

li.closed {
    list-style: disc;
    color: white;
}

.páginas{
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 100px;
}

.páginas span{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    font-size: 20px;
    margin-bottom: 40px;
}

.páginas ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.logo_footer{
    height: 40px;
}

.coluna{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60%;
}

.cadastro{
    height: 70px;
    width: 23vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cadastro p{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight:normal;
    font-size: 18.5px;
}

.caixa_cadastro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.email{
    width: 11vw;
    background-color: white;
    height: 35px;
    display: flex;
    align-items: center;
    border-style: none;
    color: #c4c4c4;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 10px;
}

.cadastrar {
    width: 10vw;
    background-color: #001f70;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
}

.caixa_cadastro p{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

.siga{
    width: 21vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.siga p{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 27px;
}

.siga img{
    width: 3vw;
}

/* tela cadastro de times */

.banner_cadastro_times{
    background-image: url(assets_/fundo_banner_cadastro_time.png);
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_cadastro_times p{
    color: white;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

.conteudo_principal_tela_cadastro_times{
    background-color: #1e1c21;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.div_cadastro_time{
    background: #111111;
    background: -moz-linear-gradient(top,  #111111 5%, #535353 30%, #6d6d6d 50%, #535353 70%, #111111 95%);
    background: -webkit-linear-gradient(top,  #111111 5%,#535353 30%,#6d6d6d 50%,#535353 70%,#111111 95%);
    background: linear-gradient(to bottom,  #111111 5%,#535353 30%,#6d6d6d 50%,#535353 70%,#111111 95%);
    box-shadow: 1px 1px 20px 4px #000000;filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#111111',GradientType=0 );   
    height: 250px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 100px;
}

.div_cadastro_time form{
    justify-content: space-between;
    height: 170px;
}

.label_nome_equipe{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.div_cadastro_time span{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.div_cadastro_time input{
    background-color: #ababab;
    border-style: none;
    height: 30px;
}

.input_nome_equipe{
    width: 950px;
}

.file{
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
}

.file-input label{
    display: block;
    width: 148px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ababab;
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.div_botão_time{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_cadastro_time button{
    width: 257px;
    height: 40px;
    background-color: #001f70;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    border-radius: 15px;
}

.título_lista_times{
    color: white;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

.lista_times{
    height: 150px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    margin-bottom: 50px;
}

tr{
    width: 1128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

tr td{
    padding-left: 20px;
}

.legenda_tabela{
    width: 1137px;
    background-color: black;
    border: 1px solid white
}

td{
    width: 564px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.logo_flamengo{
    height: 45px;
}

/* tela cadastro de jogador */

.banner_cadastro{
    background-image: url(assets_/fundo_banner_cadastro_jogador.png);
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_cadastro p{
    color: white;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

.conteudo_principal_tela_cadastro_jogador{
    background-color: #1e1c21;
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.div_cadastro_jogador{
    background: #111111;
    background: -moz-linear-gradient(top,  #111111 5%, #535353 30%, #6d6d6d 50%, #535353 70%, #111111 95%);
    background: -webkit-linear-gradient(top,  #111111 5%,#535353 30%,#6d6d6d 50%,#535353 70%,#111111 95%);
    background: linear-gradient(to bottom,  #111111 5%,#535353 30%,#6d6d6d 50%,#535353 70%,#111111 95%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#111111',GradientType=0 );   
    box-shadow: 1px 1px 20px 4px #000000;
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 100px;
    margin-bottom: 10px;
}

.formulario_cima{
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formulario_cima div{
    height: 60px;
}

form{
    display: flex;
    flex-direction: column;
}

.div_cadastro_jogador label{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.div_cadastro_jogador input{
    background-color: #ababab;
    border-style: none;
    height: 30px;
    width: 950px;
}

.div_cadastro_jogador select{
    background-color: #ababab;
    border-style: none;
    height: 30px;
    width: 950px;
}

.div_botão_jogador{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_cadastro_jogador button{
    width: 257px;
    height: 40px;
    background-color: #C31616;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    border-radius: 15px;
}

.título_lista_jogador{
    color: white;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

.lista_jogador{
    height: 150px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    margin-bottom: 50px;
}

tr{
    width: 1128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

tr td{
    padding-left: 20px;
}

.legenda_tabela{
    width: 1137px;
    background-color: black;
    border: 1px solid white
}

td{
    width: 564px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

@media (max-width:1366px){

    .texto p{
        font-size: 22.5px;
    }

    .título_da_notícia{
        height: 260px;
    }

    .conteudo_próximos_jogos{
        font-size: 23px;
    }

    .próximos_jogos{
        font-size: 20px;
    }

    .título_notícias{
        width: 82.5vw;
    }

    .siga {
        width: 22vw;
    }
    
}