@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
    /* background-color:aqua; */
}

header{
    background-color: #f9003d;
    height: 60px;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
}

.container_header{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.nav_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 590px;
    /* background-color: blanchedalmond; */
}

.nav_header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}

.btn_menu{
    display: none;
}

main{
    margin-top: 60px;
}

.container_banner{
    position: relative;
    height: 977px;
}

.fundo_banner{
    width: 100%;
}

.box_conteudo_banner{
    position: absolute;
    top: 226px;
    left: 121px;
    display: flex;
    flex-direction: column;
}

h1{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 96px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    width: 545px;
}

hr{
    color: #FFAF00;
}

.box_conteudo_banner span{
    color: #f9003d;
    font-size: 53px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0;
}

.box_conteudo_banner img{
    width: 37px;
}

.container_sobre{
    background-color: #080324;
    height: 800px;
}

.container_conteúdo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.container_sobre h2{
    color: #f9003d;
    font-size: 64px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
}

.box_sobre{
    display: flex;
    justify-content: space-between;
}

.box_participantes{
    color: #ffffff;
}

.box_participantes span{
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    text-transform: uppercase;
}

.box_participantes h3{
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: 64px;
    line-height: 77px;
    width: 557px;
    color: #FFAF00;
    margin: 10px 0;
}

.box_participantes p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400px;
    font-size: 18px;
    line-height: 25px;
    width: 592px;
}

.info{
    background-image: url(./assets_/imagem-fundo-info.png);
}

.container_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 193px;
}

.info h2{
    color: white;
    font-family: 'Courier New';
    font-style: bold;
    font-size: 24px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.box_span{
    width: 289px;
    height: 100px;
    border: 1px solid #A259F7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info span{
    color: #A259F7;
    font-family: 'Courier New';
    font-style: bold;
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;
}

.endereço{
    background-image: url(./assets_/imagem-fundo-endereco.png);
    height: 516px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.endereço h2{
    color: #FFAF00;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 64px;
    line-height: 76px;
    width: 899px;
    margin-bottom: 10px;
}

.box_endereço{
    display: flex;
    width: 899px;
    height: 203px;
    background-color: #010010;
    align-items: center;
    border: 2px solid #340b65;
}

.endereço p{
    color: #A259F7;
    font-family: 'Courier New';
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    width: 435px;
    margin-left: 66px;
}

.img_mapa{
    position: absolute;
    top: 120px;
    right: 525px;
}

footer{
    height: 82px;
    background-color: #f9003d;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer span{
    color:#ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

@media (max-width: 420px){

    .container{
       width: 80vw;
    }

    .container_header{
        justify-content: flex-start;
        align-items: center;
    }

    .nav_header{
        height: 300px;
        width: 100%;
        display:none;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: black;
    }

    .btn_menu{
        display: inline-block;
    }

    .btn_menu i{
        color: white;
        font-size: 30px;
    }

    .nav_header a{
        font-size: 25px;
    }

    .container_banner{
        display: flex;
        justify-content: center;
        height: 600px;
    }

    .fundo_banner{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .box_conteudo_banner{
        left: 0%;
        align-items:  center;
        top: 120px;
    }

    h1{
        width: 90%;
        font-size: 60px;
        text-align: center;
    }

    hr{
        width: 90%;
        margin: 30px 0;
    }
    
    .box_conteudo_banner span{
        font-size: 35px;
        margin-top: 10px;
    }
    
    .box_conteudo_banner img{
        width: 45px;
        margin-top: 35px;
    }
    
    .container_sobre{
        height: auto;
        width: auto;
    }

    .container_sobre h2{
        font-size: 56px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .box_sobre{
        flex-direction: column;
        width: auto;
        align-items: center;
    }
    
    .img_box_sobre{
        width: 80vw;
    }
    
    
    .box_participantes{
        margin-top: 50px;
        margin-bottom: 50px;
        width: auto;
    }
    
    .box_participantes span{
        width: auto;
        margin: 50px 0;
    }
    
    .box_participantes h3{
        width: auto;
        font-size: 2.1em;
        margin: 50px 0;
    }
    
    .box_participantes p{
        width: auto; 
        text-align: justify;
    }
    
    .container_info{
        height: 600px;
        width: auto;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .endereço{
        height: 800px;
        justify-content: space-evenly;
    }

    .endereço h2{
        width: unset;
    }
    
    .box_endereço{
        width: 61vw;
        height: unset;
        padding: 60px 40px;
    }

    .endereço p{
        margin-left:0;
    }

    .img_mapa{
        position: unset;
        width: 80vw;
        margin-bottom: 45px;
    }

    footer span{
        width: 80vw;
        text-align: center;
    }
}